In [45]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv('FBC.csv')
data.columns=['Date','Total','East','West']
data.head()

                     Date  Total  East  West
0  08/01/2022 12:00:00 AM   23.0   7.0  16.0
1  08/01/2022 01:00:00 AM   12.0   5.0   7.0
2  08/01/2022 02:00:00 AM    3.0   0.0   3.0
3  08/01/2022 03:00:00 AM    5.0   2.0   3.0
4  08/01/2022 04:00:00 AM   10.0   2.0   8.0

In [46]:
#1

data['date']=pd.to_datetime(data['Date']).dt.date
data['hours']=pd.to_datetime(data['Date']).dt.hour
data_hours=data.groupby('hours')['Total'].sum()
data_hours

hours
0       41979.0
1       22429.0
2       14725.0
3       10715.0
4       25220.0
5       93333.0
6      321717.0
7      796326.0
8     1130753.0
9      691191.0
10     406322.0
11     383131.0
12     414229.0
13     440745.0
14     483604.0
15     603730.0
16     926322.0
17    1428644.0
18     978225.0
19     506584.0
20     295364.0
21     191596.0
22     122153.0
23      78719.0
Name: Total, dtype: float64

In [38]:
#data_hours=data.groupby('hours')['Total'].sum()
#data_hours

In [52]:
#2

data['Date'] = pd.to_datetime(data['date'])
data.set_index('Date',inplace=True)
data['week_number'] = data.index.week
weekly_counts = data.groupby('week_number')['Total'].sum()

print(weekly_counts)

week_number
1     102460.0
2     131470.0
3     130790.0
4     139467.0
5     144929.0
6     123671.0
7     128286.0
8     126459.0
9     149086.0
10    155005.0
11    157898.0
12    168967.0
13    182981.0
14    178711.0
15    182740.0
16    192697.0
17    215899.0
18    243114.0
19    268961.0
20    261970.0
21    253014.0
22    251197.0
23    262589.0
24    256333.0
25    267802.0
26    265217.0
27    258455.0
28    286391.0
29    286883.0
30    283401.0
31    282504.0
32    285689.0
33    270721.0
34    257878.0
35    253642.0
36    233059.0
37    235698.0
38    224006.0
39    219310.0
40    237805.0
41    216470.0
42    203653.0
43    194441.0
44    186042.0
45    184445.0
46    175866.0
47    132842.0
48    128993.0
49    133362.0
50    125905.0
51     97074.0
52     58396.0
53     13112.0
Name: Total, dtype: float64

C:\Users\Student\AppData\Local\Temp\ipykernel_13748\1552619670.py:5: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  data['week_number'] = data.index.week

In [53]:
data_avg_bicycle_count = data.groupby('date')['Total'].mean()
data_avg_bicycle_count

date
2012-10-03    146.708333
2012-10-04    144.791667
2012-10-05    131.166667
2012-10-06     83.583333
2012-10-07     89.250000
                 ...
2023-11-26     53.125000
2023-11-27     86.458333
2023-11-28    100.666667
2023-11-29     93.750000
2023-11-30     78.125000
Name: Total, Length: 4076, dtype: float64